extends ../layout
block content
    div(class="row")
        div(class="span12")
            ul(class="breadcrumb")
                li
                    -if(session.active_company_id != null)
                        a(href=url_mount('/company/#{session.active_company_id}/client/#{client_model.id}/more_info/'), title='#{client_model.company_name} info') #{client_model.company_name} info
                    -else
                        a(href=url_mount('/profile/#{user.id}/dashboard'), title='Home') Home
                    span(class="divider") &nbsp;/&nbsp;
                li.active
                    span #{title} 
    div(class="row")         
          div#clientDetails_wrapper(class="span12")
              -if(company != "")
                  div
                    a#new_clientDetail(href="#", class='btn', title='Create new clientDetail')
                        i(class="icon-plus")
                        span ClientDetail
              br
              table#clientDetails_list(class='clientDetails_list table table-striped table-bordered')
                  thead
                      tr
                          th Done
                          th Company Name
                          th Title
                          th Description
                          th Created
                          th End Date
                          th Alert
                          th Created by
                          th Updated by
                          -if(authorized('view', 'admin', ''))
                            th(style='width: 100px;') &nbsp;
                          -else
                            th(style='width: 50px;') &nbsp;
                  tbody
                      - if (clientDetails.length == 0)
                          tr.empty_table
                              td(colspan='9') (no clientDetails to display)
       
    div#edit-clientDetail-template(style='display:none')
        include _b_edit_clientDetail
        
    div#show-clientDetail-template(style='display:none')
        include _b_clientDetail
    
    -if(typeof company != "undefined" && company != "")
        //- TODO: Fetch company id from the URL.
        script(type='text/javascript').
            var company_id = "#{company.id}";
    -else
        script(type='text/javascript').
            var company_id = "";
            
    -if(typeof client != "undefined" && client != "")
        //- TODO: Fetch client id from the URL.
        script(type='text/javascript').
            var client_id = "#{client}";
    -else
        script(type='text/javascript').
            var client_id = "";
    
    != js('app/client_details')
    
    //- TODO: Fetch company id from the URL.
    script(type='text/javascript').
        var clientDetails = !{JSON.stringify(clientDetails)};
        var vent = _.extend({}, Backbone.Events);
        new ClientDetailListView({vent: vent, json: clientDetails});