extends ../layout
block content
    div(class="row")    
        div(class="span12")
            ul(class="breadcrumb")
                li
                    -if(session.active_company_id != null)
                        a(href=url_mount('/company/#{session.active_company_id}/dashboard'), title='Home') Home
                    -else
                        a(href=url_mount('/profile/#{user.id}/dashboard'), title='Home') Home
                    span(class="divider") &nbsp;/&nbsp;
                li
                    a(href=url_mount('/profile/#{user.id}'), title='Profile') Profile
                    span(class="divider") &nbsp;/&nbsp;
                li.active
                    span Change #{user.name} Password
    form(class='form-inline', action=url_mount('/profile/#{user.id}/password'), method='POST')
        input(type='hidden', name="_csrf", value='#{csrf_token}')
        - if(errors["old_pass"])
              #password(class='top_margin control-group error')
                  .controls
                      input(type='password', name='old_pass', placeholder='Current Password')
                      span.help-inline #{errors["old_pass"]}
        - else 
              #password(class='top_margin')
                  input(type='password', name='old_pass', placeholder='Current Password')
        - if(errors["pass"])
              #password(class='top_margin control-group error')
                  .controls
                      input(type='password', name='pass', placeholder='New Password')
                      span.help-inline #{errors["pass"]}
        - else 
              #password(class='top_margin')
                  input(type='password', name='pass', placeholder='New Password')
        - if(errors["pass_confirm"])
              #passwordconf(class='top_margin control-group error')
                  .controls
                      input(type='password', name='pass_confirm', placeholder='Re-type new Password')
                      span.help-inline #{errors["pass_confirm"]}
        - else 
              #passwordconf(class='top_margin')
                  input(type='password', name='pass_confirm', placeholder='Re-type new Password')        
        div.top_margin
              input(type='submit', class='btn btn-primary', value='Change') 