extends ../layout
block content
    div(class="row")
        div(class="span12")
            ul(class="breadcrumb")
                li
                    -if(session.active_company_id != null)
                        a(href=url_mount('/company/#{session.active_company_id}/dashboard'), title='Home') Home
                    -else
                        a(href=url_mount('/profile/#{user.id}/dashboard'), title='Home') Home
                    span(class="divider") &nbsp;/&nbsp;
                li.active
                    span #{title} 
    div(class="row")         
          div#clientDetails_wrapper(class="span12")
              -if(company != "")
                  div
                    a#new_clientDetail(href="#", class='btn', title='Create new clientDetail')
                        i(class="icon-plus")
                        span ClientDetail
              br
              table#clientDetails_list(class='table table-striped table-bordered')
                  thead
                      tr
                          th Title
                          th Description
                          th Created
                          th End Date
                          th Alert
                          th(style='width: 100px;') &nbsp;
                  tbody
        
    div#show-clientDetail-template(style='display:none')
        include _b_clientDetail

    -if(typeof company != "undefined" && company != "")
        //- TODO: Fetch company id from the URL.
        script(type='text/javascript').
            var company_id = "#{company.id}";
    -else
        script(type='text/javascript').
            var company_id = "";
    
    != js('app/alerts')
    
    //- TODO: Fetch company id from the URL.
    script(type='text/javascript').
        var clientDetails = !{JSON.stringify(clientDetails)};
        var vent = _.extend({}, Backbone.Events);
        new AlertsListView({vent: vent, json: clientDetails});